@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* --color-customBackground: #E6F7F5; */
  --color-customBackground: #FFFFFF;
  --color-customLightGreen: #90D1CA;
  --color-customMediumGreen: #129990;
  --color-customDarkGreen: #096B68;

  --animate-scroll-marquee: scroll-marquee 20s infinite;
  
  @keyframes scroll-marquee {
    from {
      left: 100%;
      animation-timing-function: linear;
    }
    to {
      left: -300px;
    }
  }

}