@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-customBackground: #E6F7F5;
  --color-customLightGreen: #90D1CA;
  --color-customMediumGreen: #129990;
  --color-customDarkGreen: #096B68;

}